@import "style.css";

@media (max-width: 960px) {

    body {
        max-width: 100%;
    }

    header {
        margin: 0px;
    }

    .header-container {
    max-width: 100%;
    }

    header .div-izq {
    float: none;
    max-width: 100%;
    font-size: 12px;
    }

    footer {
        margin: 0px;
    }

    header .img {
        float: none;
        /* margin-left: 50px; */
        /* margin-top: 20px; */
        display: block;
        margin: 10px auto 0px auto;
        /* margin-bottom: -50px; */
        max-width: 250px;
        width: 90%;
    }

    #clickme {
        visibility: hidden;
        width: 1px;
    }

    .footer-columna {
        float: none;
        width: 100%;
    }

    .footer1 {
        margin: 0px;
    }

    fieldset img {
        margin: 0 auto 0 auto;
        display: block;
        max-width: 30%;
        padding: 20px;
        float: right;
    }

} 