.section-about{
    background-color: $color-white;
    grid-column: full-start / col-end 10
}

.heading-secondary {
    font-size: 1.5rem;
    text-transform: uppercase;
    justify-self: center;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-palette-1, $color-palette-3);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 0.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.composition {
    position: relative;

    &__photo {
        width: 35%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        

        &--p1 {
            left: 50%;
            top: -5rem;
            width: 28%; 
            
        }
        &--p2 {
            left: 30%;
            top: -1rem;
            width:28%;
        }
        &--p3 {
            left: 10%;
            top: -5rem;
            width: 28%;  
        }

        @media only screen and (max-width: 994px) {
            &--p1 {
                left: 60%;
                top: -4rem;
                width: 40%; 
                
            }
            &--p2 {
                left: 30%;
                top: 0rem;
                width:40%;
            }
            &--p3 {
                left: 0%;
                top: -4rem;
                width: 40%;  
            }
        }
        @media only screen and (max-width: $bp-medium) {
            &--p1 {
                left: 60%;
                top: -4rem;
                width: 50%; 
                
            }
            &--p2 {
                left: 30%;
                top: 0rem;
                width: 50%;
            }
            &--p3 {
                left: 0%;
                top: -4rem;
                width: 50%;  
            }
        }
    
        @media only screen and (max-width: $bp-small) {
            &--p1 {
                left: -80%;
                top: 10rem;
                width: 60%; 
            }
            &--p2 {
                left: -70%;
                top: 10rem;
                width: 60%;
            }
            &--p3 {
                left: -40%;
                top: 10rem;
                width: 60%;  
            }
        }

        &:hover {
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        
    }

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }

    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        
    }

    

}




.u-center-text { text-align: center !important; }

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1rem;
        margin-top: 2rem;
        color: $color-palette-4;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-palette-4;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {  
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}