


Coger el diseño fijo del tema 16 y aplicarle esto, es decir, convertirlo en fluido.


Utilizar firefox web developer para probar los diseños: hacer clic en la herramienta e ir a vista de diseño adaptable



---------------------------

Set Width of Sidebar
1000 Total Points
250 Challenge Points
Level2 Change

Using percentages, set the width for the .sidebar to the equivalent of 400px to 6 decimals. Remember, the context is the total width of the site which is 960px. Use the HTML and CSS Source tabs for more information. Use this Flexible Math tool to help

Flexible math tool:
http://responsv.com/flexible-math/

<div class='container'>
<div class='sidebar'></div>
</div>


.container {
width: 960px;
} 

.sidebar {
  width: 400px;
}

solucion:

target / context = em * 100 = %  400 / 960 = 0.4166666667 = 41.66667 % 

.sidebar {
  width: 41.666667%;
}

----------------------------------

Set Width of Content
1250 Total Points
250 Challenge Points
Level2 Change

Using percentages, set the width for the .content to the equivalent of 575px. Remember, the context is the total width of the site which is 960px. Use this Flexible Math tool to help.

<div class='container'>
<div class='content'>
</div>
</div> 

.container {
width: 960px;
} 

.content {
  width: 575px;
}

solucion:

target / context = em * 100 = %  575 / 960 * 100 = 59.895833333%% 


.content {
  width: 59.895833333%;
}

---------------------------------

Determine the Context #1
1500 Total Points
250 Challenge Points
Level2 Change

From the markup in the HTML Source, what is the correct context for the h1 element? Enter the CSS selector for the correct HTML element below

<div class="container">
	<header>
		<h1>Journey Into Mobile</h1>
	</header>
	<div class="sidebar"></div>
	<div class="content"></div>
</div> 

solucion:

.container header

-------------------------------------

Determine the Context #2
1750 Total Points
250 Challenge Points
Level2 Change

From the markup in the HTML Source, what is the correct context for .content? Enter the CSS selector for the correct HTML element below.

<div class="container">
	<header>
		<h1>Journey Into Mobile</h1>
	</header>
	<div class="sidebar"></div>
	<div class="content"></div>
</div> 


solucion:

.container

--------------------------------------

Convert to Percentage
2000 Total Points
250 Challenge Points
Level2 Change

From the CSS styles given, convert .content to a percentage. Give your answer to 6 decimals. Use this Flexible Math tool to help.

<div class='container'>
<div class='content'>
</div>
</div> 

.container {
width: 960px;
}
.content {
width: 550px;
} 

.content {
  width: 550px;
}

solucion:

target / context = em * 100 = %  550 / 960 * 100 = 57.2916667% 


.content {
  width: 57.2916667%;
}

-----------------------


Set Margin of Content
2250 Total Points
250 Challenge Points
Level2 Change

Using percentages, set the margin-right of .content to the equivalent of 380px to 6 decimals. Determine the correct context by viewing the given HTML markup.

<div class="container">
 
<header></header>
<div class="sidebar"></div>
<div class="content"></div>
 
</div> 

.container {
width: 960px;
}
.sidebar {
width: 360px;
}
.content {
width: 560px;
} 

.content {
  margin-right: 380px;
}


solucion: 

se trata siempre de buscar el contexto del elemento:

OJO!!!  el contexto del MARGIN es la anchura del elemento padre.

380÷960×100 = 39.583333%

.content {
  margin-right: 39.583333%;
}

----------------------------------------
Set Padding of Content
2500 Total Points
250 Challenge Points
Level2 Change

Using percentages, set the padding of .content to the equivalent of 31px. Determine the correct context by viewing the given HTML markup. Give your answer to at least 7 decimals.


<div class="container">
 
<header></header>
<div class="sidebar"></div>
<div class="content"></div>
 
</div> 

.container {
width: 960px;
}
.sidebar {
width: 360px;
}
.content {
width: 560px;
} 


.content {
  padding: 31px;
}

solucion:

se trata siempre de buscar el contexto del elemento:

OJO!!!  el contexto del PADDING es la anchura del propio elemento!!

31÷560×100 = 5.535714286%

.content {
  padding: 5.5357143%;
}
--------------------------




